## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [2]:
import pandas as pd
import numpy as np

In [7]:
data = {'Country': ['Taiwan', 'USA','Japan', 'France', 'Mexico', 'UK','Argentina','Brazil','Africa','Korea','Singapore'],
        'Population': np.random.randint(low=999999,high=1899999999, size=11)}
dtcontury = pd.DataFrame(data)

dtcontury

      Country  Population
0      Taiwan  1167028967
1         USA  1248680470
2       Japan  1430923423
3      France  1030501028
4      Mexico  1709541495
5          UK  1814901398
6   Argentina   830786797
7      Brazil  1062003055
8      Africa  1790911768
9       Korea   667041354
10  Singapore   632164793

In [10]:
# 對資料做遞減排序
sort_by_population = dtcontury.sort_values(by=['Population'], ascending=False)

sort_by_population

      Country  Population
5          UK  1814901398
8      Africa  1790911768
4      Mexico  1709541495
2       Japan  1430923423
1         USA  1248680470
0      Taiwan  1167028967
7      Brazil  1062003055
3      France  1030501028
6   Argentina   830786797
9       Korea   667041354
10  Singapore   632164793

In [9]:
print('人口數最多的國家是：{}, 人口數有：{}'.format(sort_by_population.iloc[0].Country, sort_by_population.iloc[0].Population))

人口數最多的國家是：UK, 人口數有：1814901398